$--color-primary: #377dfe;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$BASE_COLOR: #565656;

@import '~element-ui/packages/theme-chalk/src/index';

body {
  background: #ebeef4;
}

*:not(i) {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: auto;
}

span.el-input__prefix {
  i.fas,
  i.fa,
  i.fab {
    vertical-align: middle;
    font-size: 15px;
  }
}
.el-input__prefix {
  height: 100%;
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.el-form--label-top .el-form-item__label {
  padding: 0;
  line-height: 1.4;
}

.el-loading-mask.is-fullscreen {
  background-color: #ebeef4 !important;
  .el-loading-spinner .el-loading-text,
  .el-loading-spinner i {
    color: rgba(55, 125, 254, 1);
    font-size: 20px;
  }
}

.el-input__inner {
  height: 46px;
  color: #000;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-header {
  font-weight: bold;
  line-height: 1.8;
}
.error-list {
  line-height: 1.4;
  list-style: circle;
}
.error-item {
  margin-left: 15px;
}

.center {
  text-align: center;
}

.info-tooltip {
  line-height: 1.4;
  color: #000;
  background-color: #f3f5f7;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.button {
  width: 100%;
  padding: 15px 20px;
  font-family: SourceSansPro-Semibold, sans-serif;
  font-size: 17px;
  letter-spacing: 0.46px;
  -webkit-box-shadow: 0 5px 14px -2px rgba(var(--rgb-primary-color),0.53);
  -moz-box-shadow: 0 5px 14px -2px rgba(var(--rgb-primary-color),0.53);
  box-shadow: 0 5px 14px -2px rgba(var(--rgb-primary-color),0.53);
}

.uppercase {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.06);
}

.bold {
  font-weight: 600;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: right;
}

.el-select {
  width: 100%
}

.label {
  font-family: SourceSansPro-Regular, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #8E8E8E;
}

.input-button {
  padding: 0 10px;
  color: #377dfe!important;
}
.el-input__inner {
  font-family: SourceSansPro-Regular, sans-serif;
  color: #313131;
  letter-spacing: 0.76px;
  font-size: 17px;
}

.input-with-button.is-error {
  & input:focus ~ .el-input-group__append,
  .el-input-group__append {
    border-color: #f56c6c;
  }
}

.input-with-button.is-success {
  & input:focus ~ .el-input-group__append,
  .el-input-group__append {
    border-color: #67c23a;
  }
}
.is-error .el-input input {
  border: 1px solid #f56c6c;
}
.textarea-with-button {
  .el-form-item__content {
    max-width: 300px;
    position: relative;
  }
  .input-button {
    position: absolute;
    right: 0;
    margin: 10px;
  }
}

.input-with-button {
  & input {
    font-family: SourceSansPro-Regular, sans-serif;
    color: #313131;
    letter-spacing: 0.76px;
    font-size: 17px;
  }
  & input:focus ~ .el-input-group__append {
    border: 1px solid #377DFE;
    border-left: none;
  }
  .el-input-group__append, .el-input-group__prepend {
    background: transparent;
  }
  & input[disabled="disabled"] {
    color: #000!important;
    & ~ .el-input-group__append, & input[disabled="disabled"] .el-input-group__prepend  {
      background: #f5f7fa
    }
  }
  .el-input-group--append .el-input__inner {
    border-right: none;
  }
}
.big-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.help-url {
  font-size: 17px;
  a {
    color: var(--primary-color)
  }
}

.tab-title {
  text-align: center;
  display: block;
}

.owner {
  font-size: 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #EDFEE3;
  padding: 2px 5px 2px 13px;
  position: relative;
  &:after {
    position: absolute;
    color: #59ED72;
    font-size: 15px;
    content: '\2022';
    left: 5px;
    top: -1px;
  }
}

.balance {
  padding: 25px 20px;
  margin-bottom: 20px;
  background: var(--primary-color);
  -webkit-box-shadow: 0 0 12px -3px rgba(var(--rgb-primary-color), 0.75);
  -moz-box-shadow: 0 0 12px -3px rgba(var(--rgb-primary-color), 0.75);
  box-shadow: 0 0 12px -3px rgba(var(--rgb-primary-color), 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  .title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .balance-list {
    display: flex;
    .account {
      margin-right: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.2);
      padding: 10px;
      .account-header {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
        .account-header-title {
          min-width: 150px;
          font-size: 18px;
        }
        .account-header-icon {
          width: 30px;
          height: 30px;
          text-align: center;
          padding: 5px;
          box-sizing: border-box;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: var(--primary-color);
          & i {
            font-size: 20px;
            vertical-align: middle;
          }
        }
      }
      .balance-value {
        font-size: 30px;
        .value {
          margin-right: 10px;
        }
      }
    }
  }
  .balance-button {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
  }
  .make-deposit {
    font-size: 19px;
    height: 50px;
    padding-right: 50px;
    position: relative;
    &:after {
      color: #C5C5C5;
      content: '\2192';
      position: absolute;
      right: 10px;
      top: 8px;
      font-size: 28px;
    }
  }
}

.transactions-list {
  .transaction-row {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    justify-content: space-between;
    .transactions-list-row {
      .row-title {
        height: 17px;
        font-size: 13px;
        padding-bottom: 5px;
      }
      .tx-hash {
        i {
          margin-left: 10px;
          color: #000;
          font-size: 12px;
        }
      }
      .send {
        font-size: 22px;
        color: #F89D9D;
        line-height: 0.7;
        margin-right: 10px;
      }
      .receive {
        font-size: 22px;
        color: #A3D9A9;
        line-height: 0.7;
        margin-right: 10px;
      }
    }
  }
}

.buy-status {
  padding: 15px 20px 15px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #979590;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0
  }
  .buy-status-header {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    &:before {
      content: '\2022';
      position: absolute;
      left: -20px;
      top: -17px;
      font-size: 44px;
    }
    .title {
      color: #000;
      font-size: 17px;
    }
    .currency {
      position: relative;
      padding-right: 40px;
      &:after {
        color: #C5C5C5;
        content: '\2192';
        position: absolute;
        right: 0;
        top: -5px;
        font-size: 25px;
      }
    }
  }
  .buy-status-content {
    line-height: 1.2;
  }
  &.pending {
    background: #FEF7E3;
    .buy-status-header {
      &:before {
        color: #FD9739;
      }
    }
  }
  &.success {
    background: #EDFEE3;
    .buy-status-header {
      &:before {
        color: #59ED72;
      }
    }
  }
  &.failed {
    background: #FEE2E2;
    .buy-status-header {
      &:before {
        color: #FE2121;
      }
    }
  }
}

.attention {
  background: #F2F4F6;
  padding: 10px;
  color: #858686;
  border-radius: 5px;
  .attention-content {
    max-width: 400px;
    line-height: 1.4;
  }
}
